node_modules
npm-debug.log
yarn-error.log
package-lock.json

dist
.angular
.angular/cache

.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo
*.swn
.DS_Store

Dockerfile
docker-compose.yml
.dockerignore

README.md
LICENSE
*.md
.editorconfig

*.spec.ts
e2e
coverage

.github
.gitlab-ci.yml
.travis.yml

.env
.env.local
.env.development
.env.production

*.log
logs
