<!-- Ambient orbs -->
<div class="bg-orb bg-orb--left"></div>
<div class="bg-orb bg-orb--right"></div>

<!-- Main game UI -->
<div class="game-ui" *ngIf="!gameService.isEnded()">
  <app-header />

  <app-question-counter
    [current]="gameService.questionNumber()"
  />

  <div class="question-wrap">
    <div class="cards">
      <app-card
        [option]="gameService.currentQuestion().optionLeft"
        [side]="OptionSide.LEFT"
        [animationDelay]="leftCardDelay"
        (selected)="onCardSelected($event)"
      />

        <div class="vs">{{ 'GAME.VS' | translate }}</div>

      <app-card
        [option]="gameService.currentQuestion().optionRight"
        [side]="OptionSide.RIGHT"
        [animationDelay]="rightCardDelay"
        (selected)="onCardSelected($event)"
      />
    </div>
  </div>
</div>

<app-chosen-overlay
  [visible]="gameService.isChosen()"
  [side]="gameService.chosenSide()"
  [option]="gameService.chosenOption()"
  (next)="onNext()"
/>

@if (gameService.isEnded()) {
  <app-end-screen (restart)="onRestart()" />
}
